:root {
    --primary-color: #041f1e;
    --secondary-color: #774936;
    --tertiary-color: #d69f7e;
    --fourth-color: #70a0af;
    --fifth-color: #a0c1b9;
 
}
body {
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* HEADER / NAV BAR */
 header {
     margin: 0px;
     top: 0;
     background-color: var(--fifth-color);
     display: flex;
     position:-webkit-sticky ;
     position: sticky;


 }

 header h1 {
     margin: 0;
     color: var(--primary-color);
     font-weight:lighter;
     font-size: 1.55vw;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
 }

 header a {
     text-decoration: none;
     color: var(--primary-color)
 }

 header nav {
     margin: 0;
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     align-content: flex-end;
     list-style: none;
     text-decoration: none;
     margin: 0;

 }

 header nav ul li a {
   display: flex;  
   padding: 10px 15px;
   font-weight: lighter;
   font-size: 1.30vw;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   width: 100%
   justify-content: flex-end;

 }


/* HERO */

.hero img {
    width: 250px;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.hero  {
    background-image: url("./pexels-anni-roenkae-2317711.jpg");
    background-size: 100%;
    background-position: 0;
    display: flex;
    justify-content: center;
    height: 400px;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: local;
}

.hero h3 {
    text-decoration: none;
    font-size: 1.35vw;
    font-weight: lighter;
}

.image-and-caption {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
}

.caption {
    display: block;
    font-size: 1.80vw;
    color: var(--primary-color);
    font-weight: 325;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#one {
    background-color: var(--fifth-color);
    filter: invert(1);
    mix-blend-mode: hard-light;
    border-radius: 50%;
  }
  
 

/* SECTION DESIGN */

.section-title {
    width: 200px;
    height: 200px;
    border: solid var(--secondary-color) 3px;
    font-weight: lighter;
}

.column {
    display: flex;
    flex-direction: column;
    border: solid var(--secondary-color) 3px;
}

/* CONTACT */




/* FOOTER */

footer {
    background: var(--fifth-color);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--primary-color);
    font-size: 1.55vw;
    font-weight: lighter;
    text-decoration: none;

}